:root {
  --primary: #fff;
}

.btn{
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary{
  background-color: transparent;
  color: white;
  font-size: 17px;
  padding:8px 20px;
  transition: all 0.3s ease-out;
}

.btn--outline {
  background-color: transparent;
  color: white;
  font-size: 17px;
  padding:8px 20px;
  transition: all 0.3s ease-out;
}

.btn-medium {
  padding: 8px 20px;
  font-size: 20px;

}

.btn--large {
  padding: 20px 50px;
  font-size: 20px;
  border-radius: 7px;

}



.btn--primary:hover{
  background: white;
  color: blue;
  transition: all 0.3s ease-out;

}